

html {Â -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe {Â width: 100%;Â Â height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #4C4C4C;text-decoration: none;}
a:hover {color: #FE9B13;}

h1, h2 	{font-size: 25px;line-height: 25px;}
h3, h4	{font-size: 20px;line-height: 20px;}
h5, h6	{font-size: 16px;line-height: 16px;}

p{margin: 10px 24px;line-height: 1.2;letter-spacing: 1px;color: #666;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.line{width: 90px; height: 3px; background-color: #FE9B13;display: inline-block;margin-top:20px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {font-family: cursive ,sans-serif;}
body .wrap-body{}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header{
    background-color: #F4F3EE;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
}

header .nav-bar {border-top: 1px solid grey; background-color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2); }
header .nav-bar .wrap-nav{}

nav {
    margin: 17px auto 0px auto;
    display: inline-block;
}
nav .active a{color: #FE9B13!important;}

#menu ul{padding:0px;margin:0px;list-style: none;display: inline-block}
#menu ul li{display:inline;}
#menu ul a{
    color: #000;
    margin-left: 30px;
    font-size: 13px;
    font-weight: bold;
}
#currencyHide{
    display: none;
}

#path{
    display: inline-block;
    font-weight: 100;
    color: #b9b3b3;
    font-size: 12px;
    padding: 20px;
    margin-left: 30px;
}
#places{
    font-size: 32px;
}
#category{
    text-transform: uppercase;
    font-size: 14px;
    padding: 9px;
}
#Recommands{
    display: inline-block;
    font-weight: 500;

}
.tyming{
    display: inline-block; color:grey;
    font-size: 12px;
    border: 1px solid black;
    text-align:center;
    padding: 5px;
    border-radius: 12px;
    margin-right:15px ;
}

.light{
    display: inline-block;
    font-size:10px;
    padding: 10px;
    color:grey
}
#recommandsWrapper{
    display: inline-block;
    border: 1px solid dimgrey;
    border-radius: 4px;
    background-color:#fbf57e54;
    float: right;
}
#share{
    padding: 7px; display: inline-block;color:  #fc031c;border:1px solid  #fc031c; border-radius: 4px
}
#share_short{
    display: none;
}
#req{
    display: none;
    margin-left: 5px;
    padding: 5px 3px;
}
.horizontal{
    width: 31px;
    float: left;
    height: 5px;
    border-radius: 4px;
    background-color: lawngreen;
    margin: 0px 22px;
}
.questions{
    font-size: 22px;
    font-weight: 900;
    padding: 0 20px;
}
#Goals{
    display: inline-block;
    margin: 11px 23px;
    border-radius: 48%;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    color: white;
    padding: 0px 21px;
}
#Badges{
    display: inline-block;
    margin: 11px 23px;
    border-radius: 48%;
    border: 1px solid lawngreen;
    background-color: lawngreen;
    color: white;
    padding: 0px 21px;
}
#Skills{
    display: inline-block;
    margin: 11px 23px;
    border-radius: 48%;
    border: 1px solid purple;
    background-color: #c338fdcc;
    color: white;
    padding: 0px 21px;

}
#currency{
    display: inline-block;
    border: 1px solid dimgrey;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) ;
}
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover;max-width:100%;height: 450px  }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

#menu a:hover{color: #FE9B13;}

header .wrap-header{}
header .wrap-header h1{font-size: 50px;line-height: 1.2;text-transform: uppercase;letter-spacing: 7px;margin-bottom:10px;}
header .wrap-header span {}
header .wrap-header  ul{padding:0px;margin:0px;list-style: none;}
header .wrap-header ul li{display:inline;}
header .wrap-header ul a {float:left;color: #DDD;margin-left: 20px; text-transform: uppercase;padding: 10px;font-size: 16px;font-weight: bold;}
header .wrap-header ul p {float:left;color: #DDD;margin-left: 20px; text-transform: uppercase;font-size: 16px;font-weight: bold;}
header .wrap-header a:hover{color: #FE9B13;}

header .wrap-header .search-form{background-color: rgba(220, 220, 220, 0.9);padding: 15px 18px;margin: 60px auto 50px auto;display:inline-block;}



/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
#container {}
#container .wrap-container{background: #ffffff;}

/* ---content-box--- */
.content-box {}
.content-box .wrap-box {padding:30px 10px; position: relative;}
.content-box .header {text-align: center; margin: 30px 0; }
.content-box .header h2{font-size: 34px; color:#FE9B13;font-weight: 500;letter-spacing: 3px;}
.content-box .header p{margin-top: 30px;}
.content-box .header .wrapper{padding: 5px 30px; display: inline-block;}
.content-box .post h3{margin: 25px 0;font-size: 25px;}

.content-box.boxstyle-1{}
.content-box.boxstyle-2{background: #fff; color: #000;}



.content-box.box-1 {}
.content-box.box-1  img{max-height: 230px;width:100%;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.content-box.box-1 .post{display: inline-block;background-color:#fff;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
.content-box.box-1 h3 {color: #000; margin: 25px;}
.content-box.box-1 .upload { padding: 5px 15px;;border-top: 1px solid #eee;font-size: 15px;color: #555;}
.content-box.box-1 .upload:hover {background : #DDD;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
.content-box.box-1 .upload a{ color: #FE9B13;font-weight: bold;}
.content-box.box-1 .upload a:hover{ color: #000;}

.content-box.box-2 {}
.content-box.box-2 .wrapper{}
.content-box.box-2 .post{}
.content-box.box-2 .wrap-img1 {width: 150px; height: 150px; border-radius: 50%; border: 1px solid #DDD; }
.content-box.box-2 .wrap-img1 img{padding-top: 40px;}

.content-box.box-3 {}

.content-box.box-4  {}
.content-box.box-4 a{color:#000;font-weight: 500;}
.content-box.box-4 a:hover{color: #FE9B13;}
.content-box.box-4  .post {margin: 70px 0;}
.content-box.box-4  .post h3{margin: 25px 0 15px 0;}

.content-box.box-5 {}
.content-box.box-5 .header {text-align: right; }
.content-box.box-5 .header .wrapper{border: none;}
.content-box.box-5 .subcribe-form{text-align: left;}

/* ---MainContent-Article--- */
#main-content {background-color: #F4F3EE;}
#main-content .wrap-content{padding: 40px 0;}

footer{background-color:#26232D;color: #999999;}
footer .wrap-footer{padding: 20px 0;}
footer .wrap-footer p{font-weight: bold;}

footer .widget-title {border-bottom: 4px solid #444;}
footer .widget-title h5{color: #fff;}
footer .widget-box {margin: 0px;background: none;padding: 0px;}

footer .bottom-footer {background-color:#312E38;text-align: center;}
footer .wrap-bottom {padding: 15px; font-style: italic;}
footer .bottom-footer a {color: #999999;text-decoration:underline;}
footer .bottom-footer a:hover {color: #fff;}
a.button{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border:1px solid #ffffff;
    display: inline-block;
    text-decoration: none;
    margin: 25px 0 25px 0;
    padding: 20px 33px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -khtml-border-radius: 40px;
    border-radius: 40px;
    letter-spacing: 3px;
}
a.button.button01{background: #FE9B13;font-size: 18px;}
a.button.button01:hover{background: #DDD;color:#000;}
a.button.button02{ color: #000000;border: 3px solid #999;font-weight: 500;padding: 10px 20px;}
a.button.button02:hover {border: 3px solid #FE9B13;}
a.button.button03{ background: #FE9B13; color: #fff;font-weight: 500;padding: 10px 20px;border: 3px solid #FE9B13;border-radius: 0px;margin-top: 10px;}
a.button.button03:hover {border: 3px solid #FE9B13;background:transparent;}

